<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackthenorth.sobriety"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Sobriety"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LaunchActivity"
            android:label="Sobriety"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculatorActivity"
            android:label="Stick with a buddy."
            android:screenOrientation="portrait"
            android:parentActivityName="hackthenorth.sobriety.LaunchActivity" >
        </activity>
        <activity
            android:name=".ContactsActivity"
            android:label="Be safe."
            android:screenOrientation="portrait"
            android:parentActivityName="hackthenorth.sobriety.LaunchActivity" >
        </activity>
        <activity
            android:name=".GetHomeActivity"
            android:label="Speak up. Say NO."
            android:screenOrientation="portrait"
            android:parentActivityName="hackthenorth.sobriety.LaunchActivity" >
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
